@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: raleway;
    font-weight: bold;
}
body {
    background-color: rgb(240, 240, 232);
}
header {
    background-color: #fff;
    width: 100%;
    height: 55px;
    display: flex;
}
header .topo {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-size: 24px;
    color: #5d15d1;
    font-weight: 600;
}
.topo img {
    width: 35px;
}
.img-fundo {
    background-image: url("imagens/assets/imagens/bahia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 0 25px 0;
}
.img-fundo .tituto-form {
    width: 80%;
    margin: 0 auto;
    background-color: #5d15d1;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.img-fundo .tituto-form img {
    width: 25px;
    rotate: -45deg;
    margin-right: 10px;
}
.section-formulario {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 50px 0 0;
}
.section-formulario h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-left: 24px;
    padding-top: 15px;
}
form {
    width: 100%;
    margin: 30px 26px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.data-origem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.data {
    width: 45%;
    display:flex;
    flex-direction: column;
}
label, .radios {
    margin: 15px 20px 15px 0;
    font-size: 16px;
}
.radios p, .preferancia-hospedagem p {
    margin: 10px 0;
}
button {
    width: 150px;
    font-size: 17px;
    background-color: #5d15d1;
    border: none;
    color: #fff;
    padding: 3px;
    margin: 15px 0;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ofertas {
    max-width: 900px;
    width: 65%;
    margin: 30px auto;
}
.imagens {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}
.imagem-destaque {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}
.imagem-destaque img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imagem-destaque p {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    background: rgb(0 0 0 / 50%);
    font-size: 17px;
    color: #fff;

    padding: 5px 10px;
    box-sizing: border-box;
}
.quatro-imagens{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagem-cima {
    position: relative;
    width: 100%;
    display: flex;
}
.imagem-cima img {
    width: 95%;
    height: 100%;
    
}
.imagem-cima p {
    position: relative;
    bottom: 24px;
    width: 95%;
    font-size: 13px;
    color: #fff;
    background-color: rgb(0, 0, 0,50%);
}
.imagem-baixo {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.imagem-baixo img {
    width: 95%;
    height: 100%;
}
.imagem2 p {
    width: 95%;
    font-size: 13px;
    position: relative;
    color: #fff;
    background-color: rgb(0, 0, 0,50%);
    bottom: 24px;
}